@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    line-height: normal;
  }
  body,
  input,
  button {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
  }

  html::-webkit-scrollbar {
    width: 1rem;
  }

  html::-webkit-scrollbar-track {
    background: #111;
  }

  html::-webkit-scrollbar-thumb {
    background: #ffbc4b;
    border-radius: 5rem;
  }
  h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
  span,
  p {
    color: #aaa;
    font-size: 14px;
  }
}

.bg-auth {
  background: #222;
}
.bg-header {
  background: #222;
}
.scroll-hide::-webkit-scrollbar {
  width: 30px;
  background: #222;
  border-radius: 5rem;
  height: 5px;
}
.scroll-hide::-webkit-scrollbar-thumb {
  width: 100px;
  background: url(https://cdn-icons-png.flaticon.com/512/2831/2831972.png);
  border-radius: 5rem;
  background-position: center bottom, center -40px;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}
.scroll-hide::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 100px;
}

.scroll-hide::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 100px;
}
.text-primary {
  color: #ffbc4b;
}
.border-primary {
  border-color: #ffbc4b;
}
.text-wrap {
  display: block;
  display: -webkit-box;
  max-width: full;
  height: 14px * 2 * 2; /* Fallback for non-webkit */
  font-size: 14px;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hover-input:focus {
  color: #111;
}
.line-after {
  h2:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: #ffbc4b;
    left: 50%;
    top: 150%;
    translate: -50% 0;
    position: absolute;
  }
}
.hover-blogs {
  button:hover {
    background-color: #ffbc4b;
    color: #000000;
  }
}

.hover-buttonauth:hover {
  background-color: #ffbc4b;
  div,
  p {
    color: #000000;
  }
}
.hover-btnsubmit:hover {
  background-color: #ffbc4b;
  color: #000000;
}
.hover-menu:hover {
  color: #ffbc4b;
}
.hover-controlblogs:hover {
  background-color: #ffbc4b;
}
.hover-advanceitem:hover {
  border: 0.2rem solid #ffbc4b;
}
.gallery-item {
  break-inside: avoid;
}
//Project
.text-wrap-title {
  display: block;
  display: -webkit-box;
  max-width: full;
  max-height: 16px * 1.5 * 2; /* Fallback for non-webkit */
  font-size: 16px;
  line-height: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
//About
.transition-about {
  transition: all linear;
}
.text-shadow {
  text-shadow: 3px 5px 5px #111;
}
//Review
.flex-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 25px;
}
.flex-review-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}
.flex-review-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.flex-review-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}
.flex-review-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}
.hover-reviewitem:hover {
  border: 0.2rem solid #ffbc4b;
}
//blog
.grid-blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.hover-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
//Banner
.bg-banner {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(17, 17, 17, 0.7)),
      to(rgba(17, 17, 17, 0.7))
    ),
    url(/assets/images/banner/banner-bg.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)),
    url(/assets/images/banner/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
//Social
.hover-social:hover {
  background-color: #ffbc4b;
  color: #111;
}
.grid-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.hover-quicklink:hover span {
  padding-left: 0.5rem;
  color: #ffbc4b;
}
//Newletter
.hover-btnsubscribe:hover {
  background-color: #ffbc4b;
  color: #000000;
}
.hover-dropdown:hover {
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffbc4b;
  span {
    color: #ffbc4b;
  }
}
//Contact
.scroll-textarea::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
//Alert
.hover-btnalert:hover {
  background-color: #111;
  color: #ffbc4b;
}

//HomeAbout
.aboutus {
  .swiper-pagination-bullet {
    background-color: #ffbc4b;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
//Blog
.hover-readmore:hover {
  background-color: #ffbc4b;
  color: #111;
}

// Mapbox Marker

.marker {
  background-image: url("./assets/images/mapbox/marker-icon.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

//Admin
.icon {
  color: #ffbc4b;
}
//Ad-Sidebar
.center {
  .title {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #ffbc4b;
      span {
        color: #111;
      }
      .icon {
        color: #111;
      }
    }
    .icon {
      font-size: 18px;
      padding-right: 5px;
    }
    span {
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      margin-left: 10px;
    }
  }
}
//Ad-Datatable
.datatable {
  height: 600px;
  padding: 20px;
  .datagrid ::-webkit-scrollbar {
    width: 1px;
  }

  .datagrid ::-webkit-scrollbar-track {
    background: #111;
  }

  .datagrid ::-webkit-scrollbar-thumb {
    background: #ffbc4b;
    border-radius: 5rem;
  }
  .MuiDataGrid-virtualScroller {
    color: aliceblue;
  }
  .MuiCheckbox-root {
    color: aliceblue;
  }
  .MuiButtonBase-root {
    svg {
      background: #111;
      color: #ffbc4b;
      font-size: 14px;
    }
  }
  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: #ffbc4b;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid #ffbc4b;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
    .link:hover {
      background-color: #ffbc4b;
      color: #111;
    }
  }
  .MuiTablePagination-selectLabel,
  .MuiTablePagination-displayedRows,
  .MuiSelect-select,
  svg {
    color: aliceblue;
    font-size: 10px;
    text-align: end;
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: rgb(140, 158, 244);
      border: 1px dotted rgba(140, 158, 244, 0.596);
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: rgb(186, 70, 93);
      border: 1px dotted rgba(186, 70, 93, 0.6);
      cursor: pointer;
    }
  }
}
// Modal-new
.new {
  display: flex;
  width: 70%;
  .top,
  .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
  }
  h1 {
    color: #111;
    font-size: 20px;
  }
  .left {
    flex: 1;
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .right {
    flex: 4;
    padding: 0px 20px;

    .avatar {
      height: auto;
      width: 100%;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;

      .formInput {
        width: 40%;

        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #111;

          .icon {
            cursor: pointer;
          }
        }
        input {
          width: 100%;
          padding: 5px;
          border: none;
          border: 1px solid gray;
          color: #111;
          border-radius: 8px;
        }
      }
    }
    button {
      width: 150px;
      padding: 10px;
      border: none;
      background-color: #111;
      color: #ffbc4b;

      font-weight: bold;
      cursor: pointer;
      margin-top: 10px;
    }
    button:hover {
      background-color: #ffbc4b;
      color: #111;
    }
  }
}
//Guide
//GuidePage
.recommend {
  position: relative;
  .swiper {
    position: static;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #111;
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 100%;
    background-color: #ffbc4b;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: #111;
    font-size: 25px;
    font-weight: 600;
  }
  .swiper-button-prev {
    left: 5%;
  }
  .swiper-button-next {
    right: 5%;
  }
}
//Guide-review
//GuideDetail
.guide-share {
  .save {
    display: none;
  }
}
.contactguide {
  .hover-social:hover {
    background-color: #ffbc4b;
    .icon {
      color: #111;
    }
  }
  .scrollcss ::-webkit-scrollbar {
    width: 5px;
  }

  .scrollcss ::-webkit-scrollbar-track {
    background: #111;
  }

  .scrollcss ::-webkit-scrollbar-thumb {
    background: #ffbc4b;
    border-radius: 5rem;
  }
}
//Project Detail
.filter {
  .hover-btn:hover {
    background-color: #111;
    color: #ffbc4b;
  }
}
.filter-lenght {
  .MuiSlider-rail {
    color: #111;
  }
  .MuiSlider-track {
    color: #111;
  }
  .MuiSlider-thumb {
    color: #111;
  }
}
.filterdeparture {
  .MuiFormControl-root {
    .css-14lo706 {
      display: none;
    }
    .MuiChip-label {
      color: #111;
    }
  }
}
// Modal review
.modal-review {
  .MuiBox-root {
    span {
      color: #ffbc4b;
    }
    .MuiRating-decimal {
      .MuiSvgIcon-root {
        font-size: 22px;
      }
    }
  }
}
.scrollcss ::-webkit-scrollbar {
  width: 5px;
}

.scrollcss ::-webkit-scrollbar-track {
  background: #111;
}

.scrollcss ::-webkit-scrollbar-thumb {
  background: #ffbc4b;
  border-radius: 5rem;
}

//UserPage
//User-Menu
.content__menu a {
  color: #ffbc4b;
  font-weight: 600;
  font-size: 18px;
}
.react-tabs {
  .react-tabs__tab--selected {
    background: #ffbc4b;
  }
}
//My place
#place-saving {
  .myplace {
    border: 1px solid #ffbc4b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .img {
      width: 30%;
      height: 100%;
    }
    .placecontent {
      width: 70%;
      padding: 35px;
      height: auto;
    }
  }
}
//My blog
.myblog {
  .myblog-item {
    border: 1px solid #ffbc4b;
    display: flex;
    align-items: center;
    height: 200px;
    .img {
      width: 30%;
    }
    .blog-content {
      width: 70%;
    }
  }
}
// Guide Saving
.guide-saving {
  .myguide-item {
    border: 1px solid #ffbc4b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    .img {
      width: 30%;
      height: 200px;
    }
    .guidecontent {
      width: 65%;
    }
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// Pagination
.paginate > ul {
  color: white;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .selected {
    color: #ffbc4a;
  }
  a {
    font-size: 16px;
    @apply cursor-pointer text-[16px] leading-none border-[1px] border-solid border-primary inline-block px-5 py-3 rounded-lg text-primary;
    transition: all linear 0.5s;
  }

  a:hover {
    background-color: #ffbc4a;
    color: #000000;
  }
}

// Blog Detail

.imgBlog {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  margin: 12px 0;
}

.contentBlog {
  color: #000000;
  font-size: 14px;
}
